.carousel-caption {
    top: 60%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.card .fas {
    height: 3rem;
    width: 3rem;
    line-height: 2.5rem;
    margin: 0 auto;
}

.small-text {
    font-size: 0.9rem;
}

.footer {
    background-color: rgb(68, 68, 68);
}

.footer p, .footer-bottom p {
    font-size: 0.8rem;
}

#carousel .carousel-item img {
    filter: grayscale(1);
}